
//tema 1
$backgroud1:linear-gradient(312deg, rgba(111,109,115,1) 0%, rgba(44,44,44,1) 100%);
$sombra1: 0px 1px 10px rgba(98,140,255,0.5);

//tema2
$backgroud2:linear-gradient(90deg,#7590d6 0%,#4d71d7 100%);

//tema 3
$background3: linear-gradient(180deg, #ffff36 0, #ffff21 25%, #f6d907 50%, #ceb000 75%, #a88a00 100%);
$colorTextos3: #000000;
$fondo3 :yellow;


$background4:#fbc30d;
$azulZimaColor:   #0093E9;